@import '../../styles/global.scss';
@import '../../styles//themes/colors';

$assetDetailsGap: 15px;
$assetDetailsPadding: 15px;
$assetDetailsBackground: $color-fondo2;
$assetDetailsBorderRadius: 8px;
$assetCarruselHeight: 700px;
$assetPhotoHeigh: $assetCarruselHeight - 150px;

.detailsPage {

    .decorator {
        text-align: left;
    }

    .assetDetails-assetName {
        width: fit-content;
        margin: $assetDetailsGap auto;
    }

    .carousselWrapper {

        position: relative;
        width: 100%;

        .carousselDetallesButtons {
            position: absolute;
            display: flex;
            justify-content: space-between;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
        }

        .carousselDetalles {
    
            display: flex;
            flex-flow: row;
            height: $assetCarruselHeight;
            overflow: hidden;
            scroll-behavior: smooth;
            
            .carousselEntry {
                flex-shrink: 0;
                width: 100%;
                gap: $assetDetailsGap;
                display: flex;
                flex-flow: column;
                margin: $assetDetailsPadding 0;
    
                &.notSelected {}
                &.carousselSelectedPhoto {}
                &.carousselLeft {}
                &.carousselRight {}
                &.carousselBlurredPhoto {}
    
                .carousselImage {
                    flex-grow: 1;
                    height: $assetPhotoHeigh;
                    padding: 0 130px;
    
                    img {
                        border-radius: 12px;
                        height: 100%;
                    }
                }
    
                .carousselImageInfo {
                    gap: $assetDetailsGap;
                    display: flex;
                    flex-flow: column;
    
                    >* {
                        margin: 0
                    }
                }
    
            }
        }
    }


    .assetDetails {
        display: flex;
        flex-flow: column;
        width: 70%;
        margin: 15px auto;
        gap: $assetDetailsGap;

        h3 {
            margin: 0;
        }

        .assetDetailsCard {
            padding: $assetDetailsPadding;
            gap: $assetDetailsGap;
            background-color: $color-fondo2;
            border-radius: $assetDetailsBorderRadius;
        }
        

        .detailsRow {
            display: flex;
            flex-flow: row;
            justify-content: center;
            gap: $assetDetailsGap;

            .info-col {
                width: 60%;
                display: flex;

                .assetDetailsCard {
                    display: flex;
                    flex-flow: column;
                    flex-grow: 1;
    
                    .detailsEntry {
                        &>* {
                            margin: 0;
                            text-align: left;
                        }
                    }
                }
            
            }

            .tags-col {
                display: flex;
                flex-flow: column;
                gap: $assetDetailsGap;
                justify-content: space-around;
                width: 40%;


                .assetInteractionButtons {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    gap: $assetDetailsGap;

                    .assetDetails-button {
                        width: fit-content;
                        padding: 0 $assetDetailsPadding;
                        margin: 0;
                        flex-grow: 1;
                    }
                }
            }
        }

        .assetDownloads {
            .downloadableFileList{
                display: flex;
                flex-flow: column;
                gap: $assetDetailsGap;

                .downloadableFile {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-around;
                    gap: $assetDetailsGap;

                    border: solid 3px $color-secundario;
                    padding: 5px 32px;
                    border-radius: 32px;
                    
                    span {
                        margin: auto 0;
                    }

                    .fileName {
                        font-size: large;
                    }

                    .fileDesc {
                        flex-grow: 1;
                    }

                    .fileType {
                        font-size: xx-large;
                        color: $color-secundario;
                    }

                    .fileDesc {
                        font-size: larger;
                    }

                    .fileDownload {
                        font-size: medium;
                        padding: 3px;
                        border-width: 3px;
                    }
                }
            }
        }
    }
}

@media all and (width < 1070px) {
    .detailsPage {

        .carousselWrapper{
            margin-bottom: 95px;

            .carousselDetallesButtons {
                top: 100%;
                transform: translateX(-50%);
                width: fit-content;
            }
            .carousselDetalles {
                height: auto;
                width: 100%;
                
                .carousselEntry {
                    height: auto;
                    width: 100%;

                    .carousselImage {
                        height: auto;
                        width: calc(100% - 50px);
                        padding: 0 25px;
                        
                        img {
                            height: auto;
                            width: 100%;

                        }
                    }
                    
                }
            }
        }

        .assetDetails {
            .detailsRow {
                flex-flow: column-reverse;
                
                > .info-col, >.tags-col{
                    width: 100%;
                }
            }
        }
    }
}