/* src/styles/themes/_colors.scss */

/* Modo oscuro */
$color-fondo: #1F1D2B;
$color-fondo2: #2D303E;

$color-texto: #E7E7E7; 
$color-textoAlt: #06050A; 

$color-secundario: #88BBFE; 
$color-hover-secundario: #5499F5; 
$color-hover-extra-secundario: #5499F544; 
$color-active-secundario: #1146A2; 
$color-active-extra-secundario: #1146A299; 


$color-warning: #FFDC77;
$color-hover-warning: #FFE917;

$color-danger: #FF8180;
$color-hover-danger: #A42625;

$color-disabled: #A2ADBC; 
$color-visited: #F679FF; 