/* src/styles/themes/_dimensiones.scss */

$tamano-tablet: 48rem;
$tamano-telefono: 36rem;

$margen-elementos: 1rem;
$margen-botones: .5rem;

$radio-borde-botones: 0.5rem;
$espacio-icono-texto-boton: 0.375rem;
$tamano-icono: 1.2rem;

$ancho-boton-enano: 3rem;
$alto-boton-enano: 3rem;
$ancho-boton-peque: 6.063rem;
$alto-boton-peque: 2.75rem;
$ancho-boton-mediano: 10rem;
$alto-boton-mediano: 3rem;
$ancho-boton-grande: 15rem;
$alto-boton-grande: 3rem;
$ancho-boton-enorme: 15rem;
$alto-boton-enorme: 4rem;

$extra-box-botones: 0.188rem;
$borde-botones: 0.125rem;

$espacio-elementos-logo: .75rem;
$ancho-logo: 4rem;
$margen-logo: 1rem;

$fuera-pantalla: -100vw;
$resetear-fuera-pantalla: 0vw;

$radio-campo-formurio: 9999rem;
$ancho-borde-campo-formulario: 0.125rem;
$alto-campo-formulario: 3rem;
$padding-campo-busqueda: 1rem;

$radio-foto-perfil: 9999rem;
$ancho-alto-foto-perfil: 4.5rem;
