/* src/styles/global.scss */

@import './themes/_colors.scss';
@import './themes/_fonts.scss';
@import './themes/_dimensiones.scss';


html, body, #root, div.App, main.App-content {
    height: 100%;
}

.App {
    display: flex;
    flex-flow: column;
    min-height: 100vh;

    main.App-content {
        flex-grow: 1;
    }
}

body{
    margin: 0;
    font-family: $fuente-secundaria;

    height: fit-content;

    opacity: 0.97;
    background-image: radial-gradient(circle at center center, $color-active-extra-secundario, white), 
    repeating-radial-gradient(circle at center center, $color-active-extra-secundario, $color-active-extra-secundario, 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
    background-color: $color-fondo2;

    background-attachment: fixed;
}

h1{
    font-family: $fuente-principal;
    font-size: $tamano-h1;
    color: $color-texto;
    font-weight: $peso-negrita;
}
  
h2{
    font-family: $fuente-principal;
    font-size: $tamano-h2;
    color: $color-secundario;
    font-weight: $peso-negrita;
}
  
h3{
    font-family: $fuente-secundaria;
    font-size: $tamano-h3;
    color: $color-texto;
    font-weight: $peso-negrita;
}

h4{
    font-family: $fuente-secundaria;
    font-size: $tamano-h4;
    color: $color-texto;
    font-weight: $peso-negrita;
}

p{
    font-family: $fuente-secundaria;
    font-size: $tamano-texto;
    color: $color-texto;
    font-weight: $peso-normal;

    &.secundario{
        font-size: $tamano-texto-peque;
    }

    &.negrita{
        font-weight: $peso-negrita;
    }
}

a:not(.btn) {
    font-family: $fuente-secundaria;
    font-size: $tamano-texto;
    color: $color-secundario;
    font-weight: $peso-negrita;
    font-style: italic;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: $margen-elementos;
    width: fit-content;

    &:visited{
        color: $color-visited;
    }

    &:hover{
        color: $color-hover-secundario;
    }

    &::before{
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background-color: $color-hover-secundario;
        transition: width 0.3s ease, left 0.3s ease;
    }

    &:hover::before{
        width: 100%;
        left: 0;
    }

    &.logo{
        &::before{
            background-color: $color-texto;
        }
    }
}

nav a:not(.btn){
    font-size: $tamano-texto-grande;
    color: $color-texto;
    font-weight: $peso-medio;
    font-style: normal;

    &:visited{
        color: $color-texto;
    }

    &.currentSection{
        font-weight: $peso-pesado;
    }

    &:hover{
        color: $color-hover-secundario;
        font-weight: $peso-semi-negrita;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}


hr.decorator {
    height: 2px;
    background-color: $color-secundario;
    border: none;
}

.decorator {
    &::after {
        content: "";
        display: block;
        width: 100%; 
        height: 2px;  
        background-color: $color-secundario; 
        margin: 10px 0; 
    }
}