@import '../../styles/global.scss';

.slct{
    padding: 10px;
    border: 2px solid $color-texto;
    border-radius: 5px;
    background-color: $color-fondo2;
    color: $color-texto;
    transition: border-color 0.3s;
    border-right-width: 10px;
    border-color: transparent;
    outline: solid 2px $color-texto;
    
    &.texto{
        display: block;
        margin: $margen-elementos;
        font-size: $tamano-texto;
        width: 85%;
    }

    &:focus{
        outline: solid 2px $color-secundario; 
    }
    
    &:disabled{
        background-color: $color-disabled;

        &:hover{
            box-shadow: none;
        }
    }

    &.error{
        border: 2px solid $color-danger !important;
        margin-bottom: 5px;
    }
}

.lbl-select {
    margin-bottom: 0;
}