@import '../../styles/global.scss';

.mainLogin{
    position: relative;

    &::before{
        opacity: 0.5;
        filter:blur();
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-image: url('./blob-scene-haikei.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}

.login-error {
    display: block;
    text-align: left;
    color: $color-danger;
    margin-left: 10px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 10em;
    padding: 20px;
    background: $color-fondo2;
    border-radius: 10px;
    width: 32%;
    min-width: fit-content;

    .title{
        color: $color-secundario;
        margin: 0;
        font-size: $tamano-h2;
        font-weight: bold;
        font-family: $fuente-principal;
    }

    .aviso {
        display: block;
        text-align: left;
        font-size: $tamano-texto;
        margin-bottom: 15px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .register-form{
    
        .input-container {
            display: flex;
            flex-direction: row;
            align-items: left;
        }

        .pass{
            width: 92%;
        }
        
        .info-icon {
            margin-top: 55px;
            margin-left: 15px;
            font-size: 22px;
            color: $color-secundario;
            cursor: pointer;
        }
        
        .info-icon:hover {
            color: $color-hover-secundario;
        }    
    
        .btn-container{
            display: block;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    
        a{
            margin: auto;
        }
    }
        
}

.error-input {
    border: 2px solid $color-danger !important;
}

.password-rules {
    padding: 15px;
    font-size: $tamano-texto;
    color: white;
    text-align: left;
    list-style-position: inside;
}

  

  