@import '../../styles/global.scss';

.txta{
    padding: 10px;
    border: 2px solid $color-texto;
    border-radius: 5px;
    background-color: $color-fondo2;
    color: $color-texto;
    transition: border-color 0.3s;
    resize: vertical;
    max-height: 80%;
    min-height: 5rem;
    height: 70%;
    
    &.texto{
        display: block;
        margin: $margen-elementos;
        font-size: $tamano-texto;
        width: 85%;
    }

    &:focus{
       border-color: $color-secundario;
       outline: none;
    }
    
    &:disabled{
        background-color: $color-disabled;

        &:hover{
            box-shadow: none;
        }
    }

    &.error{
        border: 2px solid $color-danger !important;
        margin-bottom: $margen-elementos;
    }
}

.labelTXT{
    display: block;
    font-size: $tamano-texto;
    text-align: left;
    color: $color-texto;
    
}

.dv{
    display: flex;
    flex-direction: column;
    width: 100%;
}