@import '../../styles/global.scss';

.App-content{
    min-width: $tamano-telefono;
}

.upPerfil{
    display: flex;
    flex-direction: row;
    background-color: black;
    gap: 4rem;
    background-image: url('../Login/blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.downPerfil{
    display: flex;
    flex-direction: column;
    background-color: $color-fondo;

    align-content: center;
    justify-content: center;
}

.nombreUser{
    font-size: $tamano-h3;
    font-weight: bold;
}

.perfilBotones{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding: 2rem;
    margin-left: 3rem;
    background-color: $color-fondo2;
    border-radius: 1rem;
    gap: 4rem;
}

.imgOpciones{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto 0 auto 0;
}

.btnPerfil{
    width: 12rem;
}

.imgPerfil{
    width: 10rem;
    margin-bottom: 1rem;
}

.infoPerfil{
    justify-content: center;
    align-content: center;

    margin-left: 0;
}

.botonPer{
    margin: 0 auto 2rem auto;
    width: $ancho-boton-mediano;
}

.botonesPerfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.filtrarPerfil{
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: $color-fondo2;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    width: fit-content;
    margin: 2rem 2rem 2rem 0;
}

.tituloFiltrar{
    font-size: $tamano-h3;
    text-align: left;
    font-weight: bold;
    color: $color-secundario
}

.subtituloFiltrar{
    font-size: $tamano-h4;
    color: $color-texto;
    margin-top: 0;
    margin-left:0;
    font-weight: bold;
    justify-self: left;
}

.tiposFiltro{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: 0;
}

.upFiltrar{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 0;
    height: fit-content;
}

.datePickers{
    display: flex;
    flex-direction: column;
}

.decoratorFiltrosTitulo {
    &::after {
        content: "";
        display: block;
        width: 120%; 
        height: 2px;  
        background-color: $color-secundario; 
        margin: 10px 0; 
    }
}

.decoratorFiltros {
    text-align: left;
    &::after {
        content: "";
        display: block;
        width: 8rem; 
        height: 2px;  
        background-color: $color-secundario; 
        margin: 10px 0; 
    }
}

.decoratorDown {
    text-align: center;
    &::after {
        content: "";
        display: block;
        width: 15rem; 
        height: 2px;  
        background-color: $color-secundario; 
        margin: 10px auto 0 auto; 
    }
}

.buscaFilt{
    padding-top: 0.5rem;
    height: fit-content;
}

.checkboxGrid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.checkboxColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardsAssetsPerfil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 3rem 2rem 3rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}




@media all and (width < 1500px) {
    .upPerfil{
        flex-direction: column;
        padding: 2rem;
        justify-content: center;
        align-items: center;
    }

    .perfilBotones{
        margin: auto;
    }

    .filtrarPerfil{
        margin: auto;
    }
}


@media all and (width < 800px) {

    .btnPerfil {
        height: $alto-boton-enano !important;
        width: $ancho-boton-enano !important;
        gap: 0;
    
        .label-text {
          display: none; 
        }
    
        .icon {
          font-size: $tamano-texto-boton;
        }
    }

    .filtrarPerfil{
        padding: 0.5rem;
        padding-left: 1rem;
    }

    .perfilBotones{
        width: 28.3rem;
        margin: auto;
    }
}
