@import '../../styles/global.scss';

.form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background: $color-fondo2;
    border-radius: 10px;
    width: 32%;
    min-width: fit-content;

    .title{
        color: $color-secundario;
        margin: 0;
        font-size: $tamano-h2;
        font-weight: bold;
        font-family: $fuente-principal;
    }
    
    .aviso {
        display: block;
        text-align: left;
        font-size: $tamano-texto;
        margin-bottom: 15px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .register-form{
    
        .input-container {
            display: flex;
            flex-direction: row;
            align-items: left;
        }

        .pass{
            width: 92%;
        }
        
        .info-icon {
            margin-top: 55px;
            margin-left: 15px;
            font-size: 22px;
            color: $color-secundario;
            cursor: pointer;
        }
        
        .info-icon:hover {
            color: $color-hover-secundario;
        }    
    
        .btn-container{
            display: block;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    
        a{
            margin: auto;
        }
    }
        
}

.error-input {
    border: 2px solid $color-danger !important;
}

.register-error{
    color:$color-danger;
    display: block;
    text-align: left;
    margin-left: 15px;
}

.info-text-container {
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    margin-left: 70%;
    margin-top: 33em;
    padding: 2px;
    font-size: $tamano-texto;
    min-width: 15em;
}

.info-text-container.show {
    visibility: visible;
    padding: 15px;
    background: $color-fondo2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 15%;
}
  
.info-text {
    display: flex;
    padding: 10px;
    font-size: $tamano-texto;
    color: white;
    width: 90%;
}

.password-rules {
    padding: 15px;
    font-size: $tamano-texto;
    color: white;
    text-align: left;
    list-style-position: inside;
}
  

  