@import '../../styles/global.scss';

.form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background: $color-fondo2;
    border-radius: 10px;
    width: 32%;
    min-width: fit-content;

    .title {
        color: $color-secundario;
        margin: 0;
        font-size: $tamano-h2;
        font-weight: bold;
        font-family: $fuente-principal;
    }

    .aviso {
        display: block;
        text-align: left;
        font-size: $tamano-texto;
        margin-bottom: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .register-form {

        .input-container {
            display: flex;
            flex-direction: row;
            align-items: left;
        }

        .info-icon {
            font-size: 22px;
            color: $color-secundario;
            cursor: pointer;

            position: absolute;

            top: 50%;
            left: 97%;
            margin-top: 11px;

            transform: translateX(-50%);

        }


        .info-icon:hover {
            color: $color-hover-secundario;
        }

        .btn-container {
            display: block;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }

    .enlaceLogin {
        margin: auto;
        margin-top: 10px;
        font-family: $fuente-secundaria;
        font-size: $tamano-texto;
        color: $color-secundario;
        font-weight: $peso-negrita;
        font-style: italic;
        display: inline-block;
        position: relative;
        text-decoration: none;
        transition: color 0.3s ease;

        width: fit-content;

        &:visited {
            color: $color-visited;
        }

        &:hover {
            color: $color-hover-secundario;
        }

        &::before {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: $color-hover-secundario;
            transition: width 0.3s ease, left 0.3s ease;
            top: 18px;
        }

        &:hover::before {
            width: 100%;
            left: 0;
        }
    }
}

.error-input {
    border: 2px solid $color-danger !important;
}

.register-pass-container {
    position: relative;
}

.register-error {
    color: $color-danger;
    display: block;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.info-text-container {
    visibility: hidden;
    position: absolute;
    padding: 2px;
    font-size: $tamano-texto;
    min-width: 15em;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    right: 0;
    top: -75px;
}

.pass-container {
    width: 100%;
    position: relative;
}

.info-text-container.show {
    visibility: visible;
    padding: 15px;
    background: $color-fondo2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 15%;

    left: calc(100% + 3rem);

    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.info-text {
    display: flex;
    padding: 10px;
    font-size: $tamano-texto;
    color: $color-texto;
    width: 90%;
}

.password-rules {
    padding: 15px;
    font-size: $tamano-texto;
    color: $color-texto;
    text-align: left;
    list-style-position: inside;
}



@media (max-width: $tamano-tablet) {
    .info-text-container.show {
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
        box-shadow: none;
    }

    .register-pass-container {
        flex-direction: column !important;
    }

    .info-icon {
        left: 100% !important;
    }
}

// Para que el icono de informacion se mantenga centrado
@media (max-width: 1250px) {
    .info-icon {
        left: 100% !important;
    }
}