@import '../../styles/global.scss';

.App-content {
    min-width: $tamano-telefono;
}

.contAssets {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    margin-bottom: 5rem;
    position: relative;
    overflow: hidden;


    .flechas {
        position: relative;

        &.izq {
            left: 0;
            transform: translateX(50%);
        }

        &.drch {
            right: 0;
            transform: translateX(-50%);
        }
    }

    .cardsRow {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        >* {
            flex: 1 1 calc(33.33% - 1rem);
            width: 15rem;
        }
    }
}