@import '../../styles/global.scss';

.contAssets{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    margin-bottom: 5rem;
    position: relative;

    .flechas {
        position: relative;
        
        &.izq {
            left: 0;
            transform: translateX(50%);
        }
        
        &.drch {
            right: 0;
            transform: translateX(-50%);
        }
    }
}

