@import '../../styles/global.scss';

.App-footer {

    background-color: $color-fondo;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 5rem;
    padding: 3rem 0;
    margin-top: auto;

    .footer-col-1 {
        display: flex;
        flex-flow: column;
        justify-content: center;

        .footer-rrss {
            display: flex;
            flex-flow: row;
            gap: 2rem;
            justify-content: center;
        }
    }

    .footer-col-2 {
        display: flex;
        flex-flow: row;
        gap: 2rem;

        .footer-link-col {
            text-align: left;
            min-width: 5rem;

            .footer-link-list {
                padding: 0;
                list-style: none;

                a {
                    cursor: pointer;
                    margin-left: 0;
                }
            }
        }
    }

    .faIcon {
        color: $color-texto
    }

    .footer-logo-wrapper .logo h2{
        margin-bottom: 0;
        margin-top: 1rem;
        color: $color-texto;
    }
}

@media (max-width: $tamano-tablet) {
    .App-footer {
        flex-flow: column;
        gap: 1rem;

        .footer-col-1 {
            .footer-logo-wrapper {
                margin: auto;
            }
            justify-content: center;
        }

        .footer-col-2 {
            justify-content: center;
        }
    }
}

@media (max-width: $tamano-telefono) {
    .App-footer {
        gap: 1rem;

        .footer-logo-wrapper .logo h2{
            display: none;
        }
    }
}