@import '../../styles/global.scss';

.modalContorno{
    background-color: $color-fondo2;
    border-radius: 8px;
    width: 25rem;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.modalExito {
    background-color: $color-fondo2;
    border-radius: 8px;
    width: 30rem;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.titModal{
    font-size: $tamano-h2;
    color: $color-secundario;
    font-family: $fuente-principal;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0;

    &::after {
        content: "";
        display: block;
        width: 20rem; 
        height: 2px;  
        background-color: $color-secundario; 
        margin: 10px auto;

    }
}

.botonesModal{
    width: $ancho-boton-mediano
}

.contbotonesModal{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin: auto;
    width: 80%;
    margin-bottom: 2rem;
}

.contbotonesExito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
  }

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .filaBotones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }


  