@import '../../styles/global.scss';

.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    background-color: $color-fondo;
    border: 2px solid $color-secundario;
    border-radius: 1rem;
    width: 100%;
    height: $alto-boton-enano;
    position: relative;
    margin: 1rem;
}

.icono {
    color: $color-secundario;
    font-size: $tamano-icono;
    margin-left: 1rem;
}

.formato {
    color: $color-texto;
    font-size: $tamano-texto;
    margin-right: 1rem;
    margin-left: 1rem;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    width: 100%;
    text-align: center;
}

.boton {
    background: transparent;
    border: none;
    color: $color-texto;
    cursor: pointer;
    margin-left: auto;
    margin-right: 1rem;

    transition: color 0.2s;

    &:hover {
        color: $color-danger;
    }
}

.boton svg {
    width: 22px;
    height: 22px;
}

.previewChck{
    display: inline-flex;
    margin-right: 5rem;
}
