@import '../../styles/global.scss';


.buscarsssets-main-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 

    section {
        flex: 1;
    }

    .sidebar-open {
        display: flex;
    }

    .sidebar-closed {
        display: none;
    }

    .sidebar {
        display: flex;
    }

    .btn-filters{
        display: none;
    }

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 1.5rem;
        justify-content: center;
    }
    
    aside {
        margin: .8rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        width: 20rem;
        display: flex;
        align-items: center;
        
        .details-super-fulldropdown {
            width: 17rem;

            .details-fulldropdown {
                width: 15rem;
            }
        }

        .details-super-fulldropdown[open] > .summary-super-fulldropdown::after {
            transform: rotate(180deg);
        }

        .slct {
            margin-bottom: 1rem
        }

        .right-elemets {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
        }


        .aling-right {
            display: flex; 
            align-self: flex-end; 
            margin-right: 1rem;
            margin-bottom: 1rem;
        }

        p.aling-right {
            margin-bottom: .2rem;
            font-weight: $peso-semi-negrita;

            > span {
                margin-right: .3rem;
            }
        }
          
    }

    .etiquetasAdds, .autoresAdds {
        margin-left: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 17rem;
    }

}

@media (max-width: $tamano-tablet) {
    .buscarsssets-main-container {
        flex-direction: column;
        align-items: center;
        .btn-filters{
            display: flex;
        }

        .sidebar-open {
            display: flex;
        }

        .sidebar-closed {
            display: none;
        }

        section {
            width: 100%;
        }
        .section-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            padding-left: 2rem;
            width: 85%;
            padding-bottom: 0;
            gap: 0rem;

            .section-first-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 80%;
                padding-bottom: 0;
                margin-bottom: -2rem;
                //gap: 7rem
            }

            .section-second-header {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                width: 80%;
            }
        }

        .cards-open {
            display: flex;
        }

        .cards-closed {
            display: none;
        }

        .right-elemets {
            display: none !important;
        }

        p.aling-right {
            margin-bottom: .2rem;
            font-weight: $peso-semi-negrita;

            > span {
                margin-right: .3rem;
            }
        }

        aside {
            margin-top: 0;
        }
    }
}


