/* src/componenents/Profile/Profile.scss */

@import '../../styles/global.scss';

.profile-container {
    position: absolute; 
    top: 1.5rem;
    right: 1.5rem;
}

.profile-card{
    background-color: $color-fondo2;
    width: 6.5rem;
    border-radius: $radio-foto-perfil;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border: 2px solid $color-fondo2;
    border: 2px solid $color-fondo2; 
    z-index: 999; 
    transition: all 0.3s ease, border-color 0.5s ease;

    // transition: ; 

    &:hover {
      border-color: $color-hover-secundario; 
    }

    h2 {
        font-family: $fuente-secundaria;
        font-size: $tamano-texto;
        font-weight: $peso-normal;
        color: $color-texto;
        z-index: inherit;
        margin-top: -.3rem;
    }

    > header > img {
        border-radius: $radio-foto-perfil;
        height: $ancho-alto-foto-perfil;
        width: $ancho-alto-foto-perfil;
        margin-top: 1rem;
        margin-bottom: 1rem;
        z-index: inherit;

    }

    > header {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: inherit;

    }

    button, a{
        z-index: inherit;
        margin: .3rem;
    }


    &:has(a) {
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        padding-bottom: .3rem;
        padding-left: .2rem;
        padding-right: .2rem;
    }
}

  