@import '../../styles/global.scss';

.App_header:not(.loggedIn) {
    display: block;
    background-color: $color-fondo;
    padding-top: 1em;

    .header_h{
        /*width: 100%;*/
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
        justify-content: left;
        padding: 0 3rem;
        
    }
    
    .h_but_anadir{
        position: absolute;
        top: 3rem;
        right: 9rem;
        padding-left: 4em;
        padding-right: 4em;
    }

    .profile-container {
        /*position: relative;*/
       /* position: inherit;*/
    }

    .searchBar{
        width: 45%;
    }

    .header-buttons {
        display: flex;
        flex-flow: row;
        justify-content: center;
        height: 100%;
        align-items: center;
        margin: $margen-elementos;
        gap: 1rem;

        > a {
            margin: 0;
        }
    }
}

@media all and (width<1245px){
    .App_header>.header_h{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
        gap: 0 !important;
        >.searchBar{
            width: 30% !important; 
        }
    }
}

@media all and (width<1300px){
    .h_but_anadir{
        font-size: 0;
        >span{
            font-size: $tamano-texto-boton;
        }
        width: 3.5rem;
    }
}

@media all and (width<1500px){
    .App_header {
        .searchBar {
            width: 30% !important;
        }
    }
}

@media all and (width<770px) {
    .App_header>.header_h{
        align-items: center;
        margin-left: 0;
    }

    .profile-container {
        position: relative;
    }

    .h_but_anadir{
        position: relative !important;
        top: 0 !important;
        right:0 !important;
        padding-left:0 !important;
        padding-right:0 !important;
        margin-top: 3rem !important;
    }

    .but_profile{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
}